
html {
  font-family: "open sans";
}

body {
  color: #212121;
}

/********** GENERAL ***********/

.navbar-default {
  background-color: #2A2C39;
}

.dropdown {
  margin-top: 10px;
}

a#dLabel {
  color: #E9E9EB;
  font-size: 18px;
  text-decoration: none;
}

.page-title {
  margin-top: 30px;
  margin-bottom: 20px;
  margin-left: 20px;
}

.well {
  margin-left: 20px;
}

.stats li, ul > li {
  list-style: none;
}

.client-urls > ul > li {
  margin-left: -5px;
  margin-bottom: -15px;
}

#page-body {
  margin-top: 40px;
}

ul {
  padding-left: 10px;
}

a, a:hover {
  color: #c90707;
}


/********** CLIENT STATS ***********/

#app-title, #app-subtitle {
  margin-left: 20px;
}

#app-title {
  margin-top: 60px;
}
