
html {
  font-family: "open sans";
  /*font-family: 'Lato', sans-serif;*/
}

body {
  color: #212121;
}

/********** GENERAL ***********/

.navbar-default {
  background-color: #2A2C39;
}

a#dLabel {
  color: #E9E9EB;
  font-size: 18px;
  text-decoration: none;
}

#app-title {
  margin-top: 60px;
}

.page-title, .url-stats {
  margin-top: 100px;
}

#page-body {
  margin-top: 40px;
}
