<h2><%= @identifier.identifier %></h2>
<h4><%= @relative_path.address %></h4>

<!-- <p>Three most popular referrers: <%=  @top_three_referrers %></p> -->



<!--
Do the same as max_resp_time for the stats bellow
Max Response time
Min Response time
A list of response times across all requests listed from longest response time to shortest response time.
Average Response time for this URL
HTTP Verb(s) associated used to it this URL
Three most popular user agents -->
