<h2 class="page-title"><%= @identifier.root_url + "/#{@relativepath}"%></h2>

<% content = UrlChecker.content(@identifier.root_url + "/#{@relativepath}") %>
<%= erb :'shared/_stats', locals:{content: content} %>
