<h2 class="page-title"><%= @identifier.identifier.capitalize %></h2>



<% content = @identifier.client_stats_content%>
<%= erb :'shared/_stats', locals:{content: content} %>


<div class="well client-urls">
  <p><strong>All URLs</strong><br>(most requested to least requested)</p>
  <ul>
    <%  @identifier.all_urls_most_to_least_requested.each do |url| %>
      <%= erb :'shared/_urls', locals:{identifier: @identifier, url: url } %>
    <% end %>
  </ul>
</div>
​
​
