<div class="container col-md-12" class="page-title">
  <h2><%= @identifier.identifier.capitalize %></h2>
</div>

<% content = PayloadChecker.client_content(@identifier)%>
<%= erb :'shared/_stats', locals:{content: content} %>

<div class="well client-urls">
  <p><strong>All URLs (most requested to least requested):</strong></p>
  <ul>
    <%  @identifier.all_urls_most_to_least_requested.each do |url| %>
      <%= erb :'shared/_urls', locals:{identifier: @identifier, url: url } %>
    <% end %>
  </ul>
</div>
​
​
