<div class="dropdown">
  <a id="dLabel" data-target="#" href="http://example.com" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
    Client
    <span class="caret"></span>
  </a>

  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <% @identifier.each do |identifier| %>

    <li><a href="/sources/<%= identifier.identifier%>"><%= identifier.identifier  %></a>
    </li>
    <% end %>
  </ul>
</div>
